@font-face{font-family:'Cabin Sketch';font-style:normal;font-weight:400;src:local('Cabin Sketch Regular'),local(CabinSketch-Regular),url(https://fonts.gstatic.com/s/cabinsketch/v11/QGYpz_kZZAGCONcK2A4bGOj8mNhN.woff2) format("woff2");unicode-range:U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD}
.jqcloud{font:10px Helvetica,Arial,sans-serif;line-height:normal;overflow:hidden;position:relative}.jqcloud-word.w1{color:#aab5f0;font-size:100%}.jqcloud-word.w2{color:#9ce;font-size:150%}.jqcloud-word.w3{color:#a0ddff;font-size:200%}.jqcloud-word.w4{color:#90c5f0;font-size:250%}.jqcloud-word.w5{color:#90a0dd;font-size:300%}.jqcloud-word.w6{color:#90c5f0;font-size:350%}.jqcloud-word.w7{color:#39d;font-size:400%}.jqcloud-word.w8{color:#0cf;font-size:450%}.jqcloud-word.w9{color:#0cf;font-size:500%}.jqcloud-word.w10{color:#0cf;font-size:550%}.jqcloud-word a{color:inherit;font-size:inherit;text-decoration:none}.jqcloud-word a:hover{color:#0cf}
/* GLOBAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Cabin Sketch', sans-serif;
    background: url(../images/canvas.svg);
}

/* BRAIN-LOADER */
#brain-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #191919;
    z-index: 1000;
}

#brain-container svg {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    width: 250px;
    height: auto;
}
/* DISSECT MY BRAIN */
#dissect-button {
    position: absolute;
    top: 75%;
    width: 100%;
    cursor: pointer;
    text-align: center;
    text-shadow: 15px 15px 15px #000;
    font-size: 2.7rem;
    opacity: 0;
    pointer-events: none;
    color: #fff;
    animation: fade-in .5s ease-in forwards;
    animation-delay: 4s;
}

@keyframes fade-in {
    0% {opacity:0}
    100% {opacity:1;pointer-events: all;}
}

/* CLOUD */
#cloud {
    font-family: 'Cabin Sketch', sans-serif;
    height: 100vh;
    width: 100%;
}

.jqcloud-word {
    padding: 10px;
    cursor: default;
    animation: float 10s ease infinite;
}

/* ZERO GRAVITY ANIMATION */
.jqcloud-word:nth-child(odd) {
    animation-duration: 15s;
    animation-name: float-reverse;
}

.jqcloud-word:nth-child(3n) {
    animation-duration: 13s;
}

.jqcloud-word:nth-child(even) {
    animation-timing-function: ease-out;
}

@keyframes float {
    0%   {transform:rotate(-3deg) translatey(-15px)}
    50%  {transform:rotate(3deg) translatey(15px)}
    100% {transform:rotate(-3deg) translatey(-15px)}
}

@keyframes float-reverse {
    0%   {transform:rotate(3deg) translateY(-20px)}
    50%  {transform:rotate(-3deg) translateY(20px)}
    100% {transform:rotate(3deg) translateY(-20px)}
}

/* DESKTOP VIEW */
@media (min-width: 800px) {
    #brain-container svg {
        top: 5%;
        width: 40%;
    }
    #dissect-button {
        font-size: 80px;
    }
}