@font-face{font-family:'Ribeye Marrow';font-style:normal;font-weight:400;src:local('Ribeye Marrow'),local('RibeyeMarrow-Regular'),url(https://fonts.gstatic.com/s/ribeyemarrow/v7/GFDsWApshnqMRO2JdtRZ2d0vIAsZVA.woff2) format('woff2');unicode-range:U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD}
@font-face{font-family:'Cabin Sketch';font-style:normal;font-weight:400;src:local('Cabin Sketch Regular'),local(CabinSketch-Regular),url(https://fonts.gstatic.com/s/cabinsketch/v11/QGYpz_kZZAGCONcK2A4bGOj8mNhN.woff2) format("woff2");unicode-range:U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD}
.jqcloud{font:10px Helvetica,Arial,sans-serif;line-height:normal;overflow:hidden;position:relative}.jqcloud-word.w1{color:#aab5f0;font-size:100%}.jqcloud-word.w2{color:#9ce;font-size:150%}.jqcloud-word.w3{color:#a0ddff;font-size:200%}.jqcloud-word.w4{color:#90c5f0;font-size:250%}.jqcloud-word.w5{color:#90a0dd;font-size:300%}.jqcloud-word.w6{color:#90c5f0;font-size:350%}.jqcloud-word.w7{color:#39d;font-size:400%}.jqcloud-word.w8{color:#0cf;font-size:450%}.jqcloud-word.w9{color:#0cf;font-size:500%}.jqcloud-word.w10{color:#0cf;font-size:550%}.jqcloud-word a{color:inherit;font-size:inherit;text-decoration:none}.jqcloud-word a:hover{color:#0cf}
/* GLOBAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background: url(../images/canvas.svg);
    cursor: url('../images/ship.png'), auto;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

a {
    text-decoration: none;
    color: inherit;
}
/* ASTRONAUTS */
.astronaut {
    position: absolute;
}

.astronaut > img {
    height: 50px;
}

#astro-1 {
    top: 20px;
    right: 65vw;
    animation: float 30s ease-in-out infinite;
}

#astro-2 {
    bottom: 0px;
    left: 5vw;
    animation: float-reverse 25s ease-in-out infinite;
}
/* BRAIN-LOADER */
#brain-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #191919;
    z-index: 1000;
}

#brain-container svg {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    width: 250px;
    height: auto;
}
/* DISSECT MY BRAIN */
#dissect-button {
    position: absolute;
    top: 75%;
    width: 100%;
    cursor: pointer;
    text-align: center;
    text-shadow: 2px 8px 4px #0005;
    font-size: 2.7rem;
    opacity: 0;
    pointer-events: none;
    color: #fff;
    animation: fade-in .5s ease-in forwards;
    animation-delay: 4s;
    font-family:'Ribeye Marrow', sans-serif;
}

@keyframes fade-in {
    0% {opacity:0}
    100% {opacity:1;pointer-events: all;}
}

/* CLOUD */
#cloud {
    font-family:  'Cabin Sketch', sans-serif;
    height: 100vh;
    width: 100%;
}

.jqcloud-word {
    padding: 10px;
    cursor: default;
    animation: float 10s ease infinite;
}

.jqcloud-word.has-popup {
    cursor: pointer;
}

/* ZERO GRAVITY ANIMATION */
.jqcloud-word:nth-child(odd) {
    animation-duration: 15s;
    animation-name: float-reverse;
}

.jqcloud-word:nth-child(3n) {
    animation-duration: 13s;
}

.jqcloud-word:nth-child(even) {
    animation-timing-function: ease-out;
}

@keyframes float {
    0%   {transform:rotate(-3deg) translatey(-15px)}
    50%  {transform:rotate(3deg) translatey(15px)}
    100% {transform:rotate(-3deg) translatey(-15px)}
}

@keyframes float-reverse {
    0%   {transform:rotate(3deg) translateY(-20px)}
    50%  {transform:rotate(-3deg) translateY(20px)}
    100% {transform:rotate(3deg) translateY(-20px)}
}
/* POPUPS */
.popup {
    font-family: 'Cabin Sketch', sans-serif;
    background: #292929;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .64s ease-in-out;
    width: 800px;
    max-width: 95%;
    height: 80%;
    min-height: 420px;
    box-shadow: 0 0 60px 10px #000d;
    border-radius: 20px
}

.popup.closed {
    top: 200vh;
    right: -100vh;
    transform: rotate(32deg);
}

.popup-guts {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup-close {
    background: #0cf;
    position: absolute;
    top: -8px;
    right: -8px;
    padding: 5px 8px;
    border-radius: 50%;
    font-family: sans-serif;
    font-weight: 900;
    cursor: pointer;
    font-size: 15px;
}

.popup-coding {
    background: url(../images/code-bg.jpeg);
    background-size: cover;
}

.popup-guts.skills {
    flex-direction: column;
    text-align: center;
}

.popup-head {
    color: #fff;
    font-size: 2.4rem;
}

.popup-head-small {
    font-size: 1rem;
    color: #fff;
}

#css {
    height:20px !important;
}

.skills img, .skills svg {
    width:50px;
}

progress {
    text-align:left;
    position:relative ;
    top:10px;
    width: 200px;
    margin: 2em auto;
    padding: 3px;
    border: 0 none;
    background: #444;
    border-radius: 14px;
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
    }
progress::-moz-progress-bar {
    border-radius: 7px;
    background: #FFF;
    box-shadow: inset 0 -2px 4px rgba(0,0,0,0.4), 0 2px 5px 0px rgba(0,0,0,0.3);
  
}
/* webkit */
@media screen and (-webkit-min-device-pixel-ratio:0) {
  progress {
    height: 21px;
  }
}
progress::-webkit-progress-bar {
    background: #646464;
    border-radius: 7px;
}  
progress::-webkit-progress-value {  
  border-radius: 7px;
  background: #fff; /*blue*/
  box-shadow: inset 0 -2px 4px rgba(0,0,0,0.4), 0 2px 5px 0px rgba(0,0,0,0.3); 
  border-radius: 7px;
}
progress::-moz-progress-value {  
  border-radius: 7px;
  background: #fff; /*blue*/
  border-radius: 7px;
  box-shadow: inset 0 -2px 4px rgba(0,0,0,0.4), 0 2px 5px 0px rgba(0,0,0,0.3); 
}

.popup-physics img {
    filter: invert(82%)
}

/* DESKTOP VIEW */
@media (min-width: 800px) {
    #brain-container svg {
        top: 5%;
        width: 40%;
    }
    #dissect-button {
        font-size: 80px;
    }
    .astronaut > img {
        height: 200px;
    }
    #astro-2 {
        left: 80vw;
    }
}
