@import url("https://fonts.googleapis.com/css?family=Gaegu");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: url(../images/canvas.svg), #191919;
  background-size: cover;
  width: 100vw;
  cursor: url(../images/spaceship.png), auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
  position: relative;
}

a,
button {
  text-decoration: none;
  font-size: inherit;
  color: inherit;
  cursor: url(../images/pointer.png), pointer;
}

nav {
  position: absolute;
  top: 0;
  right: 0;
  padding: 15px 15px 0 0;
  font-size: 18px;
  z-index: 1000;
}

nav a {
  color: #999;
  position: relative;
  -webkit-transition: color 0.3s cubic-bezier(1, -0.65, 0, 2.07);
  transition: color 0.3s cubic-bezier(1, -0.65, 0, 2.07);
}

nav a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background: #00E5C7;
  z-index: -1;
  -webkit-transition: height 0.6s cubic-bezier(0.37, -0.18, 0.32, 1.49);
  transition: height 0.6s cubic-bezier(0.37, -0.18, 0.32, 1.49);
}

nav a:hover {
  color: #000;
}

nav a:hover::after {
  height: 100%;
}

.small-nav {
  display: block;
  position: relative;
}

.small-nav-links {
  background: #393939;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
  -webkit-transform-origin: top right;
          transform-origin: top right;
  -webkit-transform: translate(-26px, 14px) scale(0);
          transform: translate(-26px, 14px) scale(0);
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(1, -1.07, 0.7, 0.9);
  transition: -webkit-transform 0.3s cubic-bezier(1, -1.07, 0.7, 0.9);
  transition: transform 0.3s cubic-bezier(1, -1.07, 0.7, 0.9);
  transition: transform 0.3s cubic-bezier(1, -1.07, 0.7, 0.9), -webkit-transform 0.3s cubic-bezier(1, -1.07, 0.7, 0.9);
}

.small-nav-links.show {
  -webkit-transform: translate(-17px, 14px) scale(1);
          transform: translate(-17px, 14px) scale(1);
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.43, 0.46, 0, 2.07);
  transition: -webkit-transform 0.3s cubic-bezier(0.43, 0.46, 0, 2.07);
  transition: transform 0.3s cubic-bezier(0.43, 0.46, 0, 2.07);
  transition: transform 0.3s cubic-bezier(0.43, 0.46, 0, 2.07), -webkit-transform 0.3s cubic-bezier(0.43, 0.46, 0, 2.07);
}

.small-nav #nav-close {
  background: #00E5C7;
  height: 24px;
  width: 24px;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-box-shadow: 0 0 10px #0009;
          box-shadow: 0 0 10px #0009;
  -webkit-transform: scale(0);
          transform: scale(0);
  cursor: url(../images/pointer.png), pointer;
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(1, -1.07, 0.7, 0.9);
  transition: -webkit-transform 0.3s cubic-bezier(1, -1.07, 0.7, 0.9);
  transition: transform 0.3s cubic-bezier(1, -1.07, 0.7, 0.9);
  transition: transform 0.3s cubic-bezier(1, -1.07, 0.7, 0.9), -webkit-transform 0.3s cubic-bezier(1, -1.07, 0.7, 0.9);
}

.small-nav.open #nav-close {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.43, 0.46, 0, 2.07);
  transition: -webkit-transform 0.3s cubic-bezier(0.43, 0.46, 0, 2.07);
  transition: transform 0.3s cubic-bezier(0.43, 0.46, 0, 2.07);
  transition: transform 0.3s cubic-bezier(0.43, 0.46, 0, 2.07), -webkit-transform 0.3s cubic-bezier(0.43, 0.46, 0, 2.07);
  -webkit-transition-delay: .1s;
          transition-delay: .1s;
}

#nav-open {
  position: absolute;
  top: 0;
  right: 0;
  height: 24px;
  width: 24px;
  cursor: url(../images/pointer.png), pointer;
}

#nav-open rect {
  height: 2px;
  fill: #999;
}

#nav-open .rect-1 {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

#nav-open .rect-2 {
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

#nav-open .rect-3 {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

#nav-open:hover rect {
  width: 0%;
  -webkit-animation: bars 0.8s cubic-bezier(0.43, 0.46, 0, 2.07) forwards;
          animation: bars 0.8s cubic-bezier(0.43, 0.46, 0, 2.07) forwards;
}

#nav-open:hover .rect-2 {
  -webkit-animation-delay: .1s;
          animation-delay: .1s;
}

#nav-open:hover .rect-3 {
  -webkit-animation-delay: .2s;
          animation-delay: .2s;
}

@-webkit-keyframes bars {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@keyframes bars {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.big-nav {
  display: none;
}

.big-nav a:first-child {
  margin-right: 10px;
}

@media (min-width: 800px) {
  nav {
    font-size: 20px;
  }
  .small-nav {
    display: none;
  }
  .big-nav {
    display: block;
  }
}

.astronauts {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: -1;
  overflow: hidden;
}

.astronaut {
  position: absolute;
}

.astronaut > img {
  height: 150px;
}

#astro-1 {
  top: 20vh;
  right: 65vw;
  -webkit-animation: float 30s ease-in-out infinite;
          animation: float 30s ease-in-out infinite;
}

@-webkit-keyframes float {
  0% {
    -webkit-transform: rotate(-1deg) translatey(-5px);
            transform: rotate(-1deg) translatey(-5px);
  }
  50% {
    -webkit-transform: rotate(1deg) translatey(5px);
            transform: rotate(1deg) translatey(5px);
  }
  100% {
    -webkit-transform: rotate(-1deg) translatey(-5px);
            transform: rotate(-1deg) translatey(-5px);
  }
}

@keyframes float {
  0% {
    -webkit-transform: rotate(-1deg) translatey(-5px);
            transform: rotate(-1deg) translatey(-5px);
  }
  50% {
    -webkit-transform: rotate(1deg) translatey(5px);
            transform: rotate(1deg) translatey(5px);
  }
  100% {
    -webkit-transform: rotate(-1deg) translatey(-5px);
            transform: rotate(-1deg) translatey(-5px);
  }
}

@-webkit-keyframes float-reverse {
  0% {
    -webkit-transform: rotate(1deg) translateY(-6px);
            transform: rotate(1deg) translateY(-6px);
  }
  50% {
    -webkit-transform: rotate(-1deg) translateY(6px);
            transform: rotate(-1deg) translateY(6px);
  }
  100% {
    -webkit-transform: rotate(1deg) translateY(-6px);
            transform: rotate(1deg) translateY(-6px);
  }
}

@keyframes float-reverse {
  0% {
    -webkit-transform: rotate(1deg) translateY(-6px);
            transform: rotate(1deg) translateY(-6px);
  }
  50% {
    -webkit-transform: rotate(-1deg) translateY(6px);
            transform: rotate(-1deg) translateY(6px);
  }
  100% {
    -webkit-transform: rotate(1deg) translateY(-6px);
            transform: rotate(1deg) translateY(-6px);
  }
}

.loader-container {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: #191919;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: serif;
}

.loaded .loader-container {
  -webkit-transform: scale(8);
          transform: scale(8);
  opacity: 0;
  -webkit-transition: opacity .3s ease, -webkit-transform .3s ease-in;
  transition: opacity .3s ease, -webkit-transform .3s ease-in;
  transition: transform .3s ease-in, opacity .3s ease;
  transition: transform .3s ease-in, opacity .3s ease, -webkit-transform .3s ease-in;
  pointer-events: none;
}

.text {
  font-size: 2rem;
  color: #fff;
}

body {
  font-family: 'Gaegu', sans-serif;
}

/* ASTRONAUTS */
#astro-2 {
  top: 74%;
  left: 45vw;
  -webkit-animation: float-reverse 25s ease-in-out infinite;
          animation: float-reverse 25s ease-in-out infinite;
}

/* THE CONTAINER */
.container {
  overflow-x: hidden;
  width: 100%;
  height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* MAIN CONTENT */
.content {
  width: 100%;
  max-width: 800px;
  margin-left: 10px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.row > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* MY NAME */
.row__name {
  width: 90%;
  z-index: 3;
  -o-object-fit: none;
     object-fit: none;
  height: 298px;
  margin-bottom: -130px;
}

.row__name p {
  color: #00E5C7;
  font-size: 3rem;
  font-family: 'Gaegu', sans-serif;
  margin-bottom: -130px;
}

.row__name svg {
  width: 100%;
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
}

#path1,
#path2 {
  stroke-dasharray: 247 500;
  stroke-dashoffset: 247;
}

#path3 {
  stroke-dasharray: 287 800;
  stroke-dashoffset: 287;
}

#path4 {
  stroke-dasharray: 156 800;
  stroke-dashoffset: 156;
}

#path5 {
  stroke-dasharray: 156 800;
  stroke-dashoffset: 156;
}

#path6 {
  stroke-dasharray: 258 800;
  stroke-dashoffset: 258;
}

#path7 {
  -webkit-transition: .3s linear;
  transition: .3s linear;
  stroke-dasharray: 10 800;
  stroke-dashoffset: 10;
}

#path8 {
  stroke-dasharray: 145 800;
  stroke-dashoffset: 145;
}

#path9 {
  -webkit-transition: .3s linear;
  transition: .3s linear;
  stroke-dasharray: 34 800;
  stroke-dashoffset: 34;
}

#path10 {
  stroke-dasharray: 105 800;
  stroke-dashoffset: 105;
}

mask path {
  -webkit-transition: .5s linear;
  transition: .5s linear;
  fill: none;
  stroke: #fff;
  stroke-width: 10.87437534;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
}

mask path.show {
  stroke-dashoffset: 0 !important;
}

#letters path {
  fill: #00E5C7;
}

/* MY IMAGE */
.row__image {
  width: 85%;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.row__about, .row__social {
  position: relative;
  top: -60px;
  left: 30px;
}

/* ABOUT ME */
.row__about {
  font-size: 23px;
  line-height: 1.3;
  font-family: 'Gaegu', sans-serif;
  letter-spacing: -2.0px;
}

.pointer {
  cursor: url(../images/pointer.png), pointer;
}

.row__about > span > a {
  cursor: url(../images/spaceship.png), auto;
  background: #98dfd5;
}

/* SOCIAL ICONS */
.row__social {
  margin-top: 10px;
}

.row__social a {
  margin-right: 8px;
}

.row__social svg {
  fill: #999;
  -webkit-transition: fill .3s ease-in-out;
  transition: fill .3s ease-in-out;
}

.row__social svg:hover {
  fill: #eee;
}

/* DESKTOP VERSION */
@media (max-width: 800px) and (min-width: 360px) {
  .row__name {
    margin-bottom: -50px;
    padding-left: 30px;
  }
  .row__name p {
    margin-bottom: -100px;
  }
}

@media (max-width: 800px) and (min-width: 600px) {
  .row__name {
    margin-bottom: -100px;
  }
  .row__name p {
    margin-bottom: -100px;
  }
  .row__name svg {
    width: 70%;
  }
}

@media (min-width: 800px) {
  .container {
    overflow: hidden;
  }
  .row__image {
    width: 530px;
    height: 300px;
  }
  .row__name {
    width: 520px;
    height: 298px;
  }
  .row__name p {
    margin-bottom: -70px;
    -webkit-transform: translatey(20px);
            transform: translatey(20px);
  }
  .row__name svg {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  .content {
    margin-left: 0;
    width: 60%;
  }
  .row__about {
    font-size: 28px;
  }
  .row__about, .row__social {
    left: 100px;
  }
  .astronaut > img {
    height: 200px;
  }
  #astro-2 {
    left: 80vw;
  }
}

/* FLOATING ANIMATION */
.row {
  -webkit-animation: float 10s ease infinite;
          animation: float 10s ease infinite;
}

.row:nth-child(1) {
  -webkit-animation-duration: 15s;
          animation-duration: 15s;
  -webkit-animation-name: float-reverse;
          animation-name: float-reverse;
}

.row:nth-child(2) {
  -webkit-animation-duration: 13s;
          animation-duration: 13s;
}

.row:nth-child(3) {
  -webkit-animation-name: float-reverse;
          animation-name: float-reverse;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
}

.row:nth-child(4) {
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}
