$auto: url(../images/spaceship.png),auto;
$pointer: url(../images/pointer.png),pointer;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(../images/canvas.svg), #191919;
    background-size: cover;
    width: 100vw;
    cursor: $auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
    position: relative;
}

a,
button {
    text-decoration: none;
    font-size: inherit;
    color: inherit;
    cursor: $pointer;
}

// NAVIGATION
nav {
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px 15px 0 0;
    font-size: 18px;
    z-index: 1000;

    a {
        color: #999;
        position: relative;
        transition: color .3s cubic-bezier(1, -0.65, 0, 2.07);

        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 0;
            background: #00E5C7;
            z-index: -1;
            transition: height .3s cubic-bezier(1, -0.65, 0, 2.07)
        }

        &:hover {
            color: #000;
        }

        &:hover::after {
            height: 100%;
        }
    }
}

.small-nav {
    display: block;
    position: relative;

    $scaleIn: transform .3s cubic-bezier(0.43, 0.46, 0, 2.07);
    $scaleOut: transform .3s cubic-bezier(1,-1.07, 0.7, 0.9);

    &-links {
        background: #393939;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 10px;
        transform-origin: top right;
        transform: translate(-26px, 14px) scale(0);
        transition: $scaleOut;
    }
    
    &-links.show {
        transform: translate(-17px, 14px) scale(1);
        transition: $scaleIn;
    }
    #nav-close {
        background: #00E5C7;
        height: 24px;
        width: 24px;
        position: absolute;
        top: 0;
        right: 0;
        box-shadow: 0 0 10px #0009;
        transform: scale(0);
        cursor: $pointer;
        transition: $scaleOut;
    }
    &.open #nav-close {
        transform: scale(1);
        transition: $scaleIn;
        transition-delay: .1s;
    }
}

#nav-open {
    position: absolute;
    top: 0;
    right: 0;
    height: 24px;
    width: 24px;
    cursor: $pointer;

    rect {
        height: 2px;
        fill: #999;
    }

    .rect-1 {
        transform: translateY(0);
    }

    .rect-2 {
        transform: translateY(5px);
    }

    .rect-3 {
        transform: translateY(10px);
    }

    &:hover {
        rect {
            width: 0%;
            animation: bars .8s cubic-bezier(0.43, 0.46, 0, 2.07) forwards;
        }
        .rect-2 {
            animation-delay: .1s;
        }
        .rect-3 {
            animation-delay: .2s;
        }
    }
}

@keyframes bars {
    0% {
        width: 0%
    }
    100% {
        width: 100%;
    }
}

.big-nav {
    display: none;

    a:first-child {
        margin-right: 10px;
    }
}

@media (min-width: 800px) {
    nav {
        font-size: 20px;
    }

    .small-nav {
        display: none;
    }

    .big-nav {
        display: block;
    }
}

// ASTRONAUTS 
.astronauts {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: -1;
    overflow: hidden;
}

.astronaut {
    position: absolute;
}

.astronaut>img {
    height: 150px;
}

#astro-1 {
    top: 20vh;
    right: 65vw;
    animation: float 30s ease-in-out infinite;
}

// FLOAT
@keyframes float {
    0% {
        transform: rotate(-1deg) translatey(-5px)
    }

    50% {
        transform: rotate(1deg) translatey(5px)
    }

    100% {
        transform: rotate(-1deg) translatey(-5px)
    }
}

@keyframes float-reverse {
    0% {
        transform: rotate(1deg) translateY(-6px)
    }

    50% {
        transform: rotate(-1deg) translateY(6px)
    }

    100% {
        transform: rotate(1deg) translateY(-6px)
    }
}