@import url('https://fonts.googleapis.com/css?family=Gaegu');

@import '_general.scss';

.loader-container {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: #191919;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: serif;
}
.loaded .loader-container {
    transform: scale(8);
    opacity: 0;
    transition: transform .3s ease-in, opacity .3s ease;
    pointer-events: none;
}
.text {
    font-size: 2rem;
    color: #fff;
}
// @font-face{font-family:Gaegu;font-style:normal;font-weight:400;src:local('Gaegu Regular'),local('Gaegu-Regular'),url(https://fonts.gstatic.com/s/gaegu/v3/TuGfUVB6Up9NU6ZOyfgx6KgKdTBRWpqmszolbUNUOWkuj2Jw71KC0SUYu8gbnS5zhbw.119.woff2) format('woff2');unicode-range:U+20-22,U+27-2a,U+2c-38,U+3a-3b,U+3f,U+41-47,U+4a-4c,U+4f-5d,U+61-7b,U+7d,U+a1,U+ab,U+ae,U+b7,U+bb,U+bf,U+2013-2014,U+201c-201d,U+2122,U+ac00,U+ace0,U+ae30,U+b2e4,U+b85c,U+b9ac,U+c0ac,U+c2a4,U+c2dc,U+c774,U+c778,U+c9c0,U+d558}

body {
    font-family: 'Gaegu', sans-serif;
}

/* ASTRONAUTS */
#astro-2 {
    top: 74%;
    left: 45vw;
    animation: float-reverse 25s ease-in-out infinite;
}
/* THE CONTAINER */
.container {
    overflow-x: hidden;
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* MAIN CONTENT */
.content {
    width: 100%;
    max-width: 800px;
    margin-left: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // align-items: center;
    transform-style: preserve-3d;
}
.row>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* MY NAME */
.row__name {
    width: 90%;
    z-index: 3;
    object-fit: none;
    height: 298px;
    margin-bottom: -130px;
}
.row__name p {
    color: #00E5C7;
    font-size: 3rem;
    font-family: 'Gaegu', sans-serif;
    margin-bottom: -130px;
}
.row__name svg {
    width: 100%;
    transform: rotate(-10deg)
}
#path1,
#path2 {
    stroke-dasharray: 247 500;
    stroke-dashoffset: 247;
}

#path3 {
    stroke-dasharray: 287 800;
    stroke-dashoffset: 287;
}

#path4 {
    stroke-dasharray: 156 800;
    stroke-dashoffset: 156;
}

#path5 {
    stroke-dasharray: 156 800;
    stroke-dashoffset: 156;
}

#path6 {
    stroke-dasharray: 258 800;
    stroke-dashoffset: 258;
}

#path7 {
    transition: .3s linear;
    stroke-dasharray: 10 800;
    stroke-dashoffset: 10;
}

#path8 {
    stroke-dasharray: 145 800;
    stroke-dashoffset: 145;
}

#path9 {
    transition: .3s linear;
    stroke-dasharray: 34 800;
    stroke-dashoffset: 34;
}

#path10 {
    stroke-dasharray: 105 800;
    stroke-dashoffset: 105;
}

mask path {
    transition: .5s linear;
    fill: none;
    stroke: #fff;
    stroke-width: 10.87437534;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 4;
    stroke-opacity: 1
}

mask path.show {
    stroke-dashoffset: 0 !important
}
#letters path {
    fill: #00E5C7;
}
/* MY IMAGE */
.row__image {
    width: 85%;
    align-self: flex-end;
}
.row__about, .row__social {
    position: relative;
    top: -60px;
    left: 30px;
}
/* ABOUT ME */
.row__about {
    font-size: 23px;
    line-height: 1.3;
    font-family: 'Gaegu', sans-serif;
    letter-spacing: -2.0px;
}
.pointer {
    cursor: $pointer;
}
.row__about>span>a {
    cursor: $auto;
    background: #98dfd5;
}
/* SOCIAL ICONS */
.row__social {
    margin-top: 10px;
}
.row__social a {
    margin-right: 8px;
}
.row__social svg {
    fill: #999;
    transition: fill .3s ease-in-out;
}
.row__social svg:hover {
    fill: #eee;
}
/* DESKTOP VERSION */
@media (max-width: 800px) and (min-width: 360px) {
    .row__name {
        margin-bottom: -50px;
        padding-left: 30px;
        p {
            margin-bottom: -100px;
        }
    }
}
@media (max-width: 800px) and (min-width: 600px) {
    .row__name {
        margin-bottom: -100px;
        p {
            margin-bottom: -100px;
        }
        svg {
            width: 70%
        }
    }
}
@media (min-width: 800px) {
    .container {
        overflow: hidden;
    }
    .row__image {
        width: 530px;
        height: 300px;
    }
    .row__name {
        width: 520px;
        height: 298px;
        // margin-bottom: -50px;
        p {
            margin-bottom: -70px;
            transform: translatey(20px);
        }
        svg {
            transform: translateY(20px);
        }
    }
    .content {
        margin-left: 0;
        width: 60%;
    }
    .row__about {
        font-size: 28px;
    }
    .row__about, .row__social {
        // top: -190px;
        left: 100px;
    }
    .astronaut > img {
        height: 200px;
    }
    #astro-2 {
        left: 80vw;
    }
}
/* FLOATING ANIMATION */
.row {
    animation: float 10s ease infinite;
}
.row:nth-child(1) {
    animation-duration: 15s;
    animation-name: float-reverse;
}
.row:nth-child(2) {
    animation-duration: 13s;
}
.row:nth-child(3) {
    animation-name: float-reverse;  
    animation-duration: 10s;
}
.row:nth-child(4) {
    animation-timing-function: ease-out;
}